@{
    ViewData["Title"] = "Edit";
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model Editdelivery
<div class="d-flex">
    <aside>
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;height: 100vh;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Admin</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                @*<li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                Dashboard
                </a>
                </li>*@
                <li>
                    <a asp-action="Index" class="nav-link text-white">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                        Objednávky
                    </a>
                </li>
                <li>
                    <a asp-action="Produkty" class="nav-link text-white">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                        Produkty
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                        Kategorie
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white active">
                        <svg class="bi pe-none me-2 " width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                        Doprava a platba
                    </a>
                </li>
                <li>
                    <a asp-action="Logout" asp-controller="Login" class="nav-link text-white">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                        Odhlásit se
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>Admin</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
    </aside>
    <div class="content justify-content-evenly mx-auto" style="width:80%">
        <div class="content justify-content-evenly mx-auto" style="width:100%">
            <h1 class="text-center mb-5">Edit dopravy</h1>
            <div class="wrapper">
                <form asp-action="Deliverypaymentchanges">
                    @Html.HiddenFor(x => x.Delivery.Id)
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Název dopravy</label>
                        <input asp-for="Delivery.Name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Název dopravy...">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Cena dopravy</label>
                        <input asp-for="Delivery.Price" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Cena dopravy...">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Aktivní</label>
                        <input asp-for="Delivery.Active" type="checkbox" class="" id="exampleFormControlInput1">
                    </div>
                    <button class="btn btn-primary ms-2" type="submit">Uložit změny</button>
                </form>
            </div>
        </div>
    </div>
</div>
