h1[b-0rij3xrz2d] {
    color: #c7232f;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

h2[b-0rij3xrz2d], h3[b-0rij3xrz2d] {
    color: #314069;
}
