h1[b-w30eu4kgxk] {
    color: #c7232f;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

h2[b-w30eu4kgxk], h3[b-w30eu4kgxk] {
    color: #314069;
}
